
@{
    ViewBag.Title = "Dashboard";
}

<h2>Restaurant Dashboard</h2>
<a class="btn btn-primary" href="/Restaurant/index">Show List</a>
<a class="btn btn-danger" href="/Restaurant/History">History</a>
<a class="btn btn-success" href="/Restaurant/AssignEmpl">AssignEmployee</a>
<a class="btn btn-warning" href="/Restaurant/logout">Logout</a>